{% extends "base.html" %} {% block title %}Track Progress{% endblock %} {% block content
    %}
    <br />
    <h1 align = "center" style = "color:#f191c1">{{ user.amount_completed }}</h2>

    <h2 align = "center">Tasks Completed</h2>
    <br/>
    <br/>
    {% if (user.amount_completed<1) %}
        <h5 align = "center">Complete 10 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage1.png" width = "400" height = "400" class = "center">
        </div>
    
    {% elif (user.amount_completed<2) %}
        <h5 align = "center">Complete 20 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage2.png" width = "400" height = "400" class = "center">
        </div>

    {% elif (user.amount_completed<3) %}
        <h5 align = "center">Complete 30 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage3.png" width = "400" height = "400" class = "center">
        </div>
    {% elif (user.amount_completed<4) %}
        <h5 align = "center">Complete 40 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage4.png" width = "600" height = "400" class = "center">
        </div>

    {% elif (user.amount_completed<5) %}
        <h5 align = "center">Complete 50 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage5.png" width = "400" height = "400" class = "center">
        </div>
        
    {% elif (user.amount_completed<6) %}
        <h5 align = "center">Complete 50 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/OfficialRadishLogo.png" width = "400" height = "450" class = "center">
        </div>
    
    {% elif (user.amount_completed<7) %}
        <h5 align = "center">Complete 50 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage7.png" width = "600" height = "400" class = "center">
        </div>
        
    {% elif (user.amount_completed<8) %}
        <h5 align = "center">Complete 50 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage8.png" width = "400" height = "400" class = "center">
        </div>

    {% elif (user.amount_completed<9) %}
        <h5 align = "center">Complete 50 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage9.png" width = "500" height = "400" class = "center">
        </div>

    {%else%}
        <h5 align = "center">Complete 50 tasks to grow your radish</h5>
        <br/>
        <div align = "center">
            <img src="./static/stage10.png" width = "500" height = "400" class = "center">
        </div>


    {% endif %}




{% endblock %}